@import "tailwindcss";

@layer base {
  :root {
    --brand: #4F46E5;
    --brand-hover: #4338CA;
  }
}

.input {
  @apply w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#4F46E5];
}
